@font-face {
    font-family: "clockFont";
    src: url('/DigitalDisplayRegular-ODEO.ttf');
}

@font-face {
    font-family: "clocktext";
    src: url('/digital-7M.ttf');
}

:root {
    --primary: rgb(235, 235, 235);
    --secondary: white;
    --primaryText: black;
    --shadow: rgb(200, 200, 200);
    --checkBoxOn: rgb(0, 200, 255);
}

* {
    user-select: none;
    -webkit-user-select: none;
}

body {
    background-color: var(--primary);
}

.clockBox {
    font-family: clocktext, sans-serif;
    color: var(--primaryText);
    background-color: var(--secondary);
    width: fit-content;
    margin-top: 15vh;
    min-width: 40vw;
    max-width: 90vw;
    cursor: default;
}

.clockFont {
    font-family: clockFont, sans-serif;
    font-size: clamp(65px, 18vw, 155px);

}

.clockInfo {
    border-top: 6px solid var(--primary);
    font-size: clamp(22px, 7vw, 65px);
    width: 100%;
}

#date {
    border-left: 6px solid var(--primary);
}

.settings {
    position: absolute;
    bottom: 4vh;
    left: 2vh;
    background-color: var(--secondary);
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 2px var(--shadow);
    cursor: pointer !important;
}

.settings>svg {
    fill: var(--primaryText);
}

.settingsBar {
    min-width: 50vw;
    width: fit-content;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: var(--secondary);
    z-index: 1;
    font-size: clamp(20px, 2vw, 30px);

}

@keyframes settingsIn {

    50% {
        scale: 0.7;
    }


    100% {
        scale: 1;
        background-color: var(--checkBoxOn);
    }
}

.cross>svg {
    font-size: clamp(10px, 1.5vw, 15px);
    fill: var(--primaryText);
}

.cross {
    border-radius: 50%;
    height: fit-content;
    width: fit-content;
    cursor: pointer !important;
}

.settingTitle {
    font-size: clamp(30px, 2.5vw, 40px);
}

.settingItem {
    font-size: clamp(20px, 3vw, 25px);
}

.checkbox {
    background-color: var(--primary);
    border: 3px solid var(--primaryText);
    width: 1em;
    aspect-ratio: 1/1;
    cursor: pointer;

}

.checkboxOn {
    animation: checkBoxOn 0.25s 0s forwards;
}

@keyframes checkBoxOn {

    50% {
        scale: 0.7;
    }


    100% {
        scale: 1;
        background-color: var(--checkBoxOn);
    }
}

.checkboxOffAnim {
    animation: checkBoxOff 0.25s 0s forwards;

}

@keyframes checkBoxOff {
    50% {
        scale: 0.7;
    }

    100% {
        scale: 1;
        background-color: var(--primary);

    }
}

.buttonClick {
    animation: buttonClick 0.4s 0s forwards;
}

@keyframes buttonClick {
    0% {
        scale: 1;
    }

    50% {
        scale: 0.7;
    }

    100% {
        scale: 1;
    }
}

/* sm */
@media only screen and (max-width:576px) {
    .clockBox {
        border: 3px solid var(--primary);
        min-width: 85vw;

    }

    .clockInfo {
        border-top: 4px solid var(--primary);
    }

    #date {
        border-top: 4px solid var(--primary);
        border-left: none;

    }
}

/* sm */
@media only screen and (min-width:576px) {
    .settingsBar {
        min-width: 40vw;
    }
}

/* md */
@media only screen and (min-width:768px) {
    .settingsBar {
        min-width: 35vw;
    }
}

/* lg */
@media only screen and (min-width:992px) {
    .settingsBar {
        min-width: 30vw;
    }
}

/* xl */
@media only screen and (min-width:1200px) {
    .settingsBar {
        min-width: 25vw;
    }
}

/* xxl */
@media only screen and (min-width:1400px) {
    .settingsBar {
        min-width: 20vw;
    }
}