@font-face {
    font-family: "clockFont";
    src: url('/DigitalDisplayRegular-ODEO.ttf');
}

@font-face {
    font-family: "clocktext";
    src: url('/digital-7M.ttf');
}

:root {
    --primary: rgb(235, 235, 235);
    --secondary: white;
    --primaryText: black;
    --shadow: rgb(200, 200, 200);

}

* {
    user-select: none;
    -webkit-user-select: none;
}

body {
    background-color: var(--primary);
}

.clockBox {
    font-family: clocktext, sans-serif;
    color: var(--primaryText);
    background-color: var(--secondary);
    width: fit-content;
    margin-top: 15vh;
    min-width: 40vw;
    max-width: 90vw;
    cursor: default;
}

.clockFont {
    font-family: clockFont, sans-serif;
    font-size: clamp(65px, 18vw, 155px);

}

.clockInfo {
    border-top: 6px solid var(--primary);
    font-size: clamp(22px, 7vw, 65px);
    width: 100%;
}

#date {
    border-left: 6px solid var(--primary);
}

.settings{
    position: absolute;
    bottom: 4vh;
    left: 2vh;
    background-color: var(--secondary);
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 2px var(--shadow);
    cursor:  pointer !important;
}

.settings>svg{
    fill: var(--primaryText);
}

.settingsBar{
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: var(--secondary);
    z-index: 1;
}

.settingTitle{
    font-size: clamp();
}

.buttonClick{
    animation: buttonClick 0.4s 0s forwards;
}
@keyframes buttonClick {
    0%{
        scale: 1;
    }
    50%{
        scale: 0.7;
    }
    100%{
        scale: 1;
    }
}

/* sm */
@media only screen and (max-width:576px) {
    .clockBox {
        border: 3px solid var(--primary);
        min-width: 85vw;

    }

    .clockInfo {
        border-top: 4px solid var(--primary);
    }

    #date {
        border-top: 4px solid var(--primary);
        border-left: none;

    }
}